{% extends "base.html" %}
{% block content %}
    <h1 align="center">APERTURE SCIENCE</h1>
    <h2>Science Team</h2>
    <table style="width:50%">
        {% for scientist in scientist_list %}
            <td>
                <p>{{ scientist.name }}</p>
            </td>
        {% endfor %}
    </table>
    <h2>News and Articles</h2>
    {% for article in article_list %}
        <br>
        <h3>{{ article.title }}</h3>
        <h4>From:  {{ article.experiment }}</h4>
        <p>{{ article.body }}</p>
        <p>Publish Date:  {{ article.publish_date }}</p>
        <p>Author:  {{ article.author }}</p>
    {% endfor %}
{% endblock %}
{% block footer %}
{% endblock %}